---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Careers">
  <Container>
    <Sectionhead>
      <Fragment slot="badge">Join Us</Fragment>
      <Fragment slot="title">
        Careers at <span class="text-indigo-600">Bloorsoft</span>
      </Fragment>
      <Fragment slot="desc">
        We're a small team with big ambitions. If you're as passionate about building startups as we are, we'd love to hear from you.
      </Fragment>
    </Sectionhead>
    <div class="mx-auto prose mt-6 max-w-3xl prose-headings:mb-2 prose-headings:mt-8">
      <p>
        Bloorsoft is actively looking for talent. We're based in Toronto & SF. We offer flexible work hours + remote positions. However, we'd love to work with you in person.
      </p>
      <p>
        We care a lot about the work that we do. It sounds cliché, but we are not a typical software agency. Bottom line (profit) optimization is not our main goal. We want to build great products that people love. We want to work with clients who share our values.
      </p>
      <p>
        If you're interested to join our team, send us an email at <a href="mailto:admin@bloorsoft.com" class="text-indigo-600">admin@bloorsoft.com</a> with your resume and a brief introduction about yourself. Please share your LinkedIn and GitHub profiles as well.
      </p>
      <p>
        We look forward to hearing from you! 🚀
      </p>
    </div>
  </Container>
</Layout>
