---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Careers">
  <Container>
    <Sectionhead>
      <Fragment slot="badge">Join Us</Fragment>
      <Fragment slot="title">
        Careers at <span class="text-indigo-600">Bloorsoft</span>
      </Fragment>
      <Fragment slot="desc">
        We're a small team with big ambitions. If you're as passionate about building startups as we are, we'd love to hear from you.
      </Fragment>
    </Sectionhead>
    <div class="mx-auto prose mt-6 max-w-3xl prose-headings:mb-2 prose-headings:mt-8">
      <p>
        Astro is a new kind of framework for the modern web. It's a JavaScript
        build system and React framework that lets you build fast, ship less
        JavaScript, and run your entire site from a single file.
      </p>
    </div>
  </Container>
</Layout>
