---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Testimonials from "@components/testimonials.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">
        We would love to hear from you! Whether you are a founder, investor, or
        just someone who is passionate about startups, feel free to reach out to
        us.
      </Fragment>
    </Sectionhead>

    <div class="flex items-center">
      <!-- <h2 class="font-medium text-2xl text-gray-800">Contact Bloorsoft</h2>
      <p class="text-lg leading-relaxed text-slate-500 mt-3">
        Have some questions? We are here to help.
      </p> -->
      <div class="mt-5 flex items-center justify-center gap-4 w-full">
        <!-- <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>1405 Van Ness Ave, San Francisco, CA USA</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>361 Front St. W., Toronto, ON Canada</span>
          </div> -->
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
          <a href="mailto:hi@bloorsoft.com"> hi@bloorsoft.com</a>
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
          <a href="tel:+1 (647) 403 1747">+1 (647) 403 1747</a>
        </div>
      </div>
    </div>

    <div class="grid md:grid-cols-[100%] gap-10 mx-auto max-w-4xl mt-12">
      <div class="bg-slate-100 p-5 md:p-8 rounded-xl">
        <Contactform />
      </div>
    </div>
    <Testimonials showHeadings={false} />

    <iframe
      src="https://storage.googleapis.com/maps-solutions-3bfk0pokjj/locator-plus/mayt/locator-plus.html"
      height="300px"
      class="border-0 w-full mt-6 p-0 md: h-[500px]"
      loading="lazy">
    </iframe>
  </Container>
</Layout>
