---
import Link from "./ui/link.astro";

const {
  title = "Build your MVPs faster.",
  subtitle = "Our team specializes in creating high quality, secure, and scaleable software.",
  cta = "Have something in mind? Let's chat!",
} = Astro.props;
---

<div
  class="bg-gradient-to-bl from-indigo-900 to-indigo-700 p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    {title}
  </h2>
  <p class="text-white/70 mt-4 text-lg md:text-xl">
    {subtitle}
  </p>
  <div class="flex mt-6">
    <Link href="/contact" style="inverted">{cta}</Link>
  </div>
</div>
