---
import Container from "./container.astro";
import Sectionhead from "./sectionhead.astro";
import { ArrowIcon } from "./ui/icons";

const faq = [
  {
    question: "Will my idea remain confidential with Bloorsoft?",
    answer:
      "Absolutely. We respect your intellectual property rights and the trust you place in us. Confidentiality is a cornerstone of our business, and we're ready to sign a non-disclosure agreement (NDA) before any discussion of your idea. Protecting your vision is as important to us as it is to you.",
  },
  {
    question:
      "Can I have an expert review your architecture plans before full development begins?",
    answer:
      "Certainly. If you wish to validate our architectural approach, we're open to working with a fractional CTO or an external consultant of your choosing to review our plans. This step ensures that you feel confident in our work's quality and integrity before moving forward. We're committed to building a solution that's not just robust but also aligns with industry best practices and your long-term vision.",
  },
  {
    question: "How can I assess the quality of your code?",
    answer:
      "Quality is Priority-0 at Bloorsoft. We adhere to coding standards and best practices, and our development process includes rigorous testing and peer reviews. We welcome you to review our code at any stage and can provide documentation and reports to verify our adherence to quality benchmarks.",
  },
  {
    question: "How will performance be tracked and reported?",
    answer:
      "We believe in full transparency. Our project management tools give you real-time insights into the development progress. We establish KPIs early in the process, conduct regular check-ins, and provide you with sprint reports so you can measure our performance against agreed-upon objectives.",
  },
  {
    question: "Is the code you develop future-proof?",
    answer:
      "Our code is crafted with the future in mind, using scalable architectures and clean coding practices. We aim to make our code robust and adaptable to reduce the need for rewrites. However, technology evolves, and we ensure that any future transitions or updates can be integrated with minimal disruption.",
  },
  {
    question: "What happens after the project is completed?",
    answer:
      "Post-launch, we don’t disappear. We offer various support and maintenance packages to suit your needs, from occasional check-ups to ongoing development work. We're here to ensure your platform remains up-to-date and continues to serve your startup effectively.",
  },
  {
    question:
      "Why should we work with Bloorsoft instead of building an in-house team?",
    answer:
      "Building a quality in-house team takes significant time and resources. By partnering with us, you gain immediate access to a diverse group of experts dedicated to your project. This approach allows you to focus on your core business without the overhead of recruiting, hiring, and managing additional employees.",
  },
  {
    question: "Are your services competitively priced?",
    answer:
      "We provide value-driven development services that are competitively priced. Our aim is to deliver high-quality work within a budget that aligns with startup realities. We're upfront about costs and will work with you to find a pricing structure that fits your financial planning.",
  },
  {
    question: "How do you ensure timely delivery of the project?",
    answer:
      "We use agile methodologies to manage projects, breaking down development into manageable sprints with deliverable milestones. This approach keeps the project on track and allows for adjustments as needed, ensuring we meet your timeline without compromising quality.",
  },
];
---

<Container>
  <Sectionhead>
    <Fragment slot="title">FAQ</Fragment>
    <Fragment slot="desc">Frequently asked questions</Fragment>
  </Sectionhead>

  <div
    class="grid divide-y divide-neutral-200 max-w-xl lg:max-w-5xl mx-auto mt-8">
    {
      faq.map((item) => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span> {item.question}</span>
              <span class="transition-transform duration-300 group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 transition-opacity duration-500 ease-in-out group-open:opacity-100 group-open:max-h-screen group-closed:opacity-0 group-closed:max-h-0 overflow-hidden">
              {item.answer}
            </p>
          </details>
        </div>
      ))
    }
  </div>
</Container>
