---
import Sectionhead from "@components/sectionhead.astro";
import Container from "@components/container.astro";
import Card from "@components/card.astro";

interface Offer {
  title: string;
  desc: string;
}

interface Props {
  offers: Offer[];
  subtitle: string;
}

const { offers, subtitle } = Astro.props as Props;
---

<Container>
  <Sectionhead>
    <!-- <Fragment slot="badge">Our Web Dev + Your Startup = 🚀</Fragment> -->
    <Fragment slot="title">What We Offer</Fragment>
    <Fragment slot="desc">
      {subtitle}
    </Fragment>
  </Sectionhead>

  <div class="flex flex-wrap gap-8 mt-8 justify-center items-center">
    {
      offers.map((offer, index) => (
        <Card noCaseStudy class="max-w-xs">
          <div
            slot="title"
            class={`text-lg font-bold ${index >= 2 ? "md:col-start-2 md:col-end-3" : ""}`}>
            {offer.title}
          </div>
          <div slot="desc">
            {offer.desc}
          </div>
        </Card>
      ))
    }
  </div>
</Container>
