---
import Card from "@components/card.astro";
import Container from "@components/container.astro";
import Review from "@components/review.astro";

const testimonials = [
  {
    name: "Mike McCarthy",
    title: "Prev COO @ Scotiabank",
    image: "https://media.licdn.com/dms/image/C5603AQHzk4cN17Nzqg/profile-displayphoto-shrink_800_800/0/1517790842967?e=1720656000&v=beta&t=ixS2MzqYdy-dJBAUHYf5K6--fGSvYHIWBykZLLL4IVs",
    text: "The founder's dedication, work ethic, and expertise were evident throughout their project. His passion for his work and commitment to delivering high-quality results made the entire process a success.",
  },
  {
    name: "Farbod Abolhassani",
    title: "Director, Innovation and Technology @ TeleVU Innovation",
    image: "https://media.licdn.com/dms/image/D5603AQF-ZWmSAhiUzA/profile-displayphoto-shrink_800_800/0/1674306914771?e=1720656000&v=beta&t=X3mU3s1C2ZLTsgk7xcNPA_tG9Rn6a24UkXTqGtg23l8",
    text: "Bloorsoft stands out for its personalized approach, effective communication, adaptability, and dedication to delivering exceptional quality. Their ability to truly understand and cater to the client's needs is a unique quality that makes them an outstanding partner in the industry.",
  },

  {
    name: "Bamdad Sahraei",
    title: "Software Engineer @ Konrad Group",
    image: "https://media.licdn.com/dms/image/C4E03AQG7qUyQP0uUQw/profile-displayphoto-shrink_800_800/0/1635283366596?e=1720656000&v=beta&t=MzYf-wpSYmvGLl1UG6xnCUQaG-dtf25ml_aSWYfdLJg",
    text: "I am a software developer myself. I was very reluctant to ask a software company to deliver a project for me, simply because I think most of them take advantage of a non-knowledgeable individual with no technical background, and they overcharge you for a little amount of value-added. WELL, very happy to say that this was not the case with these guys!",
  },
  {
    name: "Amar Singh",
    title: "CEO @ Nexavision",
    image: "https://pbs.twimg.com/profile_images/1598913913839439872/BBStS4vA_400x400.jpg",
    text: "Bloorsoft successfully delivered a tested product, improving customer churn, retention, revenue, and profit. The team delivered items ahead of time and was always accessible to respond to needs. We appreciate their excellent service and work quality.",
  },
  {
    name: "Eric Hasegawa",
    title: "Founding Engineer @ Streamline Climate",
    image: "https://media.licdn.com/dms/image/C4D03AQECM_tDfYCSHQ/profile-displayphoto-shrink_800_800/0/1569851366749?e=1720656000&v=beta&t=oiyWjMghjEf6KGpT1hoCxsKm6CqqzLbZBhPnL-srtb0",
    text: "Bloorsoft completed the project on time and with high quality. The team set clear timelines and had strong project management skills. They communicated efficiently and implemented tasks promptly, delivering impressive results.",
  },
  {
    name: "Shubh Mittal",
    title: "CEO @ Seleste",
    image: "https://static.wixstatic.com/media/066cc9_22582d3cefce4d71ad9a592448c5056a~mv2.jpg/v1/crop/x_53,y_0,w_581,h_686/fill/w_581,h_686,al_c,q_85,enc_auto/Screen_Shot_2023-06-04_at_11_50_13_AM-transformed%20(1)_edited.jpg",
    text: "We had a blast working with Bloorsoft. It's rare to find a team who's had significant experience working on developing software for smart glasses. They were able to deliver a high-quality product in a short amount of time. We're looking forward to working with them again in the future.",
  },
];

export interface Props {
  showHeadings?: boolean;
}

const { showHeadings } = Astro.props;

const show = showHeadings !== undefined ? showHeadings : true;
---

{show && <Container>
  <div class="mt-24">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
      What Our Clients Say
      <!-- <span class="text-indigo-600">Testimonials</span> -->
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center">
      We love working with startups. We help them grow and succeed. Here's what our clients have to say about us.
    </p>
  </div>
</Container>}

<div class="mt-10 relative overflow-x-clip">
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-100 right-1/3 -top-10">
  </div>
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-100 right-1/3 translate-x-2/3 top-10">
  </div>
  <div class="relative md:flex gap-10 overflow-hidden py-5 group">
    <div
      class="md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
    <!--  ↓↓ Shadow DOM to make the animation smooth (clone) ↓↓ -->
    <div
      class="md:motion-safe:animate-marquee hidden md:motion-reduce:hidden md:flex min-w-full shrink-0 items-center gap-10">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
  </div>
</div>
